@import "settings.scss";

.blog {
  width: 100%;
  height: 100%;
  background-color: "rgba(100,120,230,.4)";
}

.blog__title {
  position: absolute;
  left: -9999px;
}

.blog__container {
  background: #ecf0f1;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.blog_subContainer {
  margin-top: 10px;
}
