@import "settings.scss";

.navigation {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e1e8ed;
  // background-image: url(https://abs.twimg.com/a/1458003619/img/t1/lohp_streams_header_bg_v4.png);
  background-size: 100%;
  background-color: #24292e;
  top: 0px;
  display: flex;
  height: 48px;
  z-index: 999999999;
  background-repeat: none;
  background-position: center;
  font-size: 12px;
  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 19px;
  }
  a {
    text-decoration: none;
    margin-right: 6px;
    margin-left: 6px;
    font-size: 1em;
  }
}
.buttonNav {
  border-radius: 3px;
  border: 0;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 200;
  height: 26px;
  &:hover {
    background-color: #fff;
  }
  &:hover a {
    color: #1da1f2;
  }
  a {
    padding: 0px;
    text-align: center;
    border: 0px;
  }
  a:hover {
    border: 0px;
  }
}
.navigation__item {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 6px;
}

.navigation__item:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 4px solid rgb(19, 139, 242);
}
.navigation__item--logo {
  color: #fff;
  float: left;
}

.navigation__item:active,
.navigation__item--active {
  border-bottom: 4px solid rgb(19, 139, 242);
}

.navigation__item--logo:focus,
.navigation__item:active,
.navigation__item--active,
.navigation__item:focus {
  font-weight: 800;
  color: #138bf2;
}
