@import "settings.scss";

.tags {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  padding-top: 55px;
}

.tags__container {
  height: 100%;
  margin-top: 20px;
  width: 100%;
  margin: 0px;
}

.tags_blockBottom {
  display: flex;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  background: #24292e;

  iframe {
    height: auto;
  }
}

.tags_info {
  padding: 13px;
  border-radius: 2px;
  // background-image: url(https://abs.twimg.com/a/1458003619/img/t1/lohp_streams_header_bg_v4.png);
  // background-repeat: none;
  overflow: hidden;
  width: "100%";
  flex: 1;
  color: #fff;
  h3 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
  }
}
.tags__header {
  margin-left: 5px;
  margin-bottom: 8px;
  display: block;
  color: #000;
}
.tags__headerSub {
  font-size: 1.2em;
}

.tags_subContainer {
  padding: 20px;
  width: 100%;
  background-color: #f5f8fa;
}

.tags_row {
  display: flex;
  width: 100%;
}
.tags_blocks {
  align-self: center;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  border: 1px solid #e1e8ed;
}

.tags__iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 550px) {
  .tags__container {
    height: 100%;
    margin-top: 20px;
    width: 100%;
    margin: 0px;
  }
}

@media (max-width: 450px) {
  .tags__iframe {
    width: 100%;
  }
  .tags__container {
    padding-top: 30px;
    height: 100%;
    margin-top: 20px;
    width: 100%;
    margin: 0px;
  }

  .tags_subContainer {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    background-color: #f5f8fa;
  }
  .tags_row {
    display: block;
    width: 100%;
  }
  .tags_info {
    width: 100%;
  }
  .tags_blocks {
    width: 100%;
    background: #fff;
    margin-top: 5px;
  }
  .tags_blockBottom {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 5px;

    iframe {
      width: 100%;
      height: 250px;
    }
  }
}
